
.text-center { text-align: center ; }

.top-image{ text-align: center;}

.top-image img{border-color: #16494b !important;
}

.top-hero{
   background: rgba(232, 226, 226, 0.4);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   border: 1px solid rgba(232, 226, 226, 0.98); }

h1, h2 { 
    color: rgb(102, 153, 51);

}

#name1 {
   color: black;
}

#ocupation{
   color:black;
}
 header img 
 {border: 10xp solid #ccc ;}
 
 a {
    color:black; 
    transition: ease-in 1s;
    
 }
 header img:hover{border-color: rgb(8, 8, 8)}

 a:hover {
    color:rgb(205, 242, 255)
    
 }
.tags span {
   border: 1px solid #78dfe4;
   padding: 5px 10px;
   color: #78dfe4;
   border-radius: 8px;
   font-size: 0.8rem;
   margin: 2px;
   display: inline-block;
}
.top-conteiner{
   background: url('WP_20170705_14_02_37_Selfie.jpg') no-repeat 50% 50%;
   background-size: cover;
}
.books span {
   border: 1px solid #78dfe4;
   padding: 5px 10px;
   color: black;
   border-radius: 8px;
   font-size: 0,8rem;
   text-align: center;
   margin: 2px;
   display: inline-block;

}
.nav-link {
   transition: ease-in 1s;
   
}
.nav-link:hover { 
   color: rgb(102, 153, 51);
}